{% extends 'my_maze/base.html' %}
{% block title %}Django !{% endblock %}
{% block content %}
<table class="table table-bordered ">

    <tr><td>№</td><td>Имя</td></tr>
    <tr><td>1</td><td>Вася</td></tr>
    <tr><td>2</td><td>Петя</td></tr>
    <tr><td>3</td><td>Коля</td></tr>
    <tr><td>4</td><td>Евдокия</td></tr>
    <tr><td>6</td><td>Арсений</td></tr>
    <tr><td>7</td><td>Дуся</td></tr>
</table>

  <a class='next' href="learning/"><button type="submit" class="btn btn-primary btn-lg active"> Учеба</button></a>

{% endblock %}
