{% extends 'my_maze/base.html' %}
{% block title %}Django !{% endblock %}
{% block content %}
<table class="table table-bordered ">

    <tr><td>№</td><td>Образование</td></tr>
    <tr><td>1</td><td>школа</td></tr>
    <tr><td>2</td><td>ПТУ</td></tr>
    <tr><td>3</td><td>школа</td></tr>
    <tr><td>4</td><td>техникум</td></tr>
    <tr><td>6</td><td>университет</td></tr>
    <tr><td>7</td><td>академия</td></tr>
</table>

 <a class='next' href="../other/"><button type="submit" class="btn btn-primary btn-lg active">Other</button></a>

{% endblock %}